.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.thumbnail {
  border-radius: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 500;
}

.channel-title {
  font-size: 0.9rem;
}
